h1,h2 {
text-align: center;
}
img {
    margin: 0 auto 0 auto;
    display: block;
}
p {
    text-align: center;
}
h2.font-dotgothic16 {
    font-family: 'DotGothic16', sans-serif;
}
h2.font-reggae{
    font-family: 'Reggae One', Arial, Helvetica, sans-serif;
    font-size: 3.5em;
}
.fuente-roboto{
    font-family: 'Roboto', sans-serif;
}
.fuente-negrita{
    font-weight: bold;
}
.fuente-italica{
    font-size: 32pt;
    font-style: italic;
}
span.resaltado{
    font-size: 3em;
    color: blue;
    font-weight: bold;
    font-family: 'roboto',serif;
}
/* reggae-one-regular - latin */
@font-face {
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/reggae-one-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/reggae-one-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/reggae-one-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/reggae-one-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/reggae-one-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/reggae-one-v1-latin-regular.svg#ReggaeOne') format('svg'); /* Legacy iOS */
  }
  blockquote{
    font-size: 2.4em;
    color: coral;
    text-align: right;
    font-weight: 900;
    font-style: italic;
}
div.contenedor-1{ 
    color: whitesmoke;
    width: 200px;
    height: 350px;
    background-color: brown;
    display: inline-block;
    border: 3px solid blue;
    padding: 0.4em;
    }
    div.contenedor-2{
    color: whitesmoke;
    width: 200px;
    height: 350px;
    background-color:blueviolet;
    display: inline-block;
    border: 3px solid blue;
    padding: 0.4em;
    }
    div.contenedor-3{
    color: whitesmoke;
    width: 200px;
    height: 350px;
    background-color:silver;
    display: inline-block;
    border: 3px solid blue;
    padding: 0.4em;
    }
    div.contenedor-4{
    width: 200px;
    color: whitesmoke;
    
    background-color:yellowgreen;
    display: inline-block;
    height: 350px;
    border: 3px solid blue;
    padding: 0.4em;
    }
    div.contenedor-5{
    color: whitesmoke;
    width: 200px;
    background-color:green;
    display: inline-block;
    height: 350px;
    border: 3px solid blue;
    padding: 0.4em;
    }
    div.contenedor-6{
        width:200px;
    height: 350px;
    color: whitesmoke;
    display: inline-block;
    background-color:blue ;
    border: 3px solid blue;
    padding: 0.4em;
    }